{{> header}}
<div class="container bg-white">
    <div class="row">
        <div class="col-md-12 mt-3">
            {{#each data}}
                <div class="home-block">
                    <div class="half-width-flex">
                        <a href="/user/{{this.uploader}}">
                            <div class="profile-image" style="background-image: url(/{{getUserDetails this.user '_id'}}_{{getUserDetails this.user 'image'}});">
                            </div>
                        </a>
                        <div class="titles">
                            <a href="/job/{{this._id}}">
                                {{this.title}}
                            </a>
                            <a href="/user/{{this.uploader}}">{{getUserDetails this.user 'name'}}</a>
                        </div>
                    </div>
                    <div class="half-width-flex tags-date-block">
                        {{#if this.tags.length}}
                            <div class="tags">
                                {{#each this.tags}}
                                    <a href="/search?keywords={{this}}">{{this}}</a>
                                {{/each}}
                            </div>
                        {{/if}}
                        <small>{{dateFormat this.created_at}}</small>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>