{{> header}}
<div class="container bg-white">
    <div class="row">
        <div class="col-md-12 mt-3">
            {{#each data.jobs}}
                <div class="home-block">
                    <div class="half-width-flex">
                        <a href="javascript:void(0)">
                            <div class="profile-image" style="background-image: url('{{this.company_logo_file_path}}');">
                                {{getFirstCharIfNoImage this.company_logo_file_path ../data.name}}
                            </div>
                        </a>
                        <div class="titles">
                            <a href="/job/{{this._id}}">
                                {{this.title}}
                            </a>
                            <a href="javascript:void(0)">{{../data.name}}</a>
                        </div>
                    </div>
                    <div class="half-width-flex tags-date-block">
                        {{!-- {{#if this.tags.length}} --}}
                            <div class="tags">
                                {{#each this.tags}}
                                    <a href="/search?query={{this}}">{{this}}</a>
                                {{/each}}
                            </div>
                        {{!-- {{/if}} --}}
                        <small>{{dateFormat this.created_at}}</small>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>